.navigation{
  height: 10vh;
  background-color: white;
  padding: 2rem 2.5rem;
  &__list{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__item{
    list-style: none;
    &:not(:last-child){
      margin-right: 5rem;
    }
  }
  &__link{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #3D3D3D;
    transition: all 0.2s;
    &:hover{
      color: #FC4445;
    }
  }
}
@media (max-width: 900px){
  .navigation{
    border-bottom: 6px solid #FC4445;
  }
}
@media (max-width: 450px){
  .navigation__item:not(:last-child){
    margin-right: 1.8rem;
  }
}
