.about{
  height: 80vh;
  background: #ECECEC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4rem;
  padding: 3rem;
  &__content{
    text-align: center;
  }
  &__heading{
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    line-height: 58px;

    color: #3C3B3B;

  }
  &__para{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    width: 40.6rem;
    color: #3C3B3B;
    margin-top: 3rem;
  }
  &__btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 2.5rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #FC4445;
    color: #FC4445;

  }
  &__images{
    position: relative;
    width: 55%;
    height: 100%;
  }
  &__img{
      position: absolute;
    &-1{
      top: 38%;
      z-index: 10;
      left: 20%;
      transform: translateX(-20%);
    }
    &-2{
      top: 10%;
      left: 75%;
      transform: translateX(-75%);
    }
    &__image-1{
      width: 35rem;
    }
    &__image-2{
      width: 40rem;
    }
  }
}
