.Menu{
    &-header{
        height: 40rem;
        color: white;
        background-image: url(../img/order-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        box-shadow: inset 0 25px 120px #000000;
        &__heading-1{
            color: #FC4445;
            position: absolute;
            top: 24%;
            left: 35%;
            transform: translateX(-35%);
            font-size: 7rem;
            font-family: 'Dancing Script', cursive;
        }
        &__heading-2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 5rem;
            font-family: 'Open Sans', sans-serif;
        }
    }
    
}